<a href="https://colab.research.google.com/github/AdamKhalil27/DataBase/blob/main/InsertData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('DataBase.sql')
print("Opened Data Successfully")

Opened Data Successfully

In [ ]:
conn.execute('''CREATE TABLE Countries (
	country_code         CHAR(2) NOT NULL  PRIMARY KEY  ,
	country_name         VARCHAR(100) NOT NULL
 );
''')
print("Table created successfully")

Table created successfully

In [ ]:
conn.execute('''CREATE TABLE Languages (
	language             CHAR(20)     ,
	country_code         CHAR(2) NOT NULL    ,
	FOREIGN KEY ( country_code ) REFERENCES Countries( country_code )
 );

''')
print("Table created successfully")

Table created successfully

In [ ]:
conn.execute('''CREATE TABLE Vehicle (
	VehicleID            VARCHAR(5) NOT NULL  PRIMARY KEY  ,
	RegistrationID       VARCHAR(10) NOT NULL    ,
	Manufacturer         VARCHAR(30)     ,
	Model                VARCHAR(20)     ,
	Color                VARCHAR(20)     ,
	Current_Odometer     INTEGER     ,
	PassangerCapacity    INTEGER NOT NULL    ,
	Availability         BOOLEAN NOT NULL
 );
 ''')
print("Table created successfully")

Table created successfully

In [ ]:
conn.execute('''CREATE TABLE VehicleState (
	actionid             INTEGER NOT NULL  PRIMARY KEY  ,
	ActionType           CHAR(1) NOT NULL    ,
	Odometer             INTEGER     ,
	final_cost           FLOAT NOT NULL    ,
	brief_description    TEXT     ,
	date                 DATE     ,
	VehicleID            VARCHAR(5) NOT NULL    ,
	FOREIGN KEY ( VehicleID ) REFERENCES Vehicle( VehicleID )
 );

''')
print("Table created successfully")

Table created successfully

In [ ]:
conn.execute('''CREATE TABLE games_official (
	official_id          CHAR(8) NOT NULL  PRIMARY KEY  ,
	name                 VARCHAR(100) NOT NULL    ,
	preferred_language   VARCHAR(100)     ,
	country              CHAR(100)     ,
	"r.model"            TEXT     ,
	"r.color"            TEXT     ,
	"r.clearance_level"  TEXT
 );

''')
print("Table created successfully")

Table created successfully

In [ ]:
conn.execute('''CREATE TABLE Driver (
	DriverID             INTEGER NOT NULL  PRIMARY KEY  ,
	name                 VARCHAR(100) NOT NULL    ,
	licence_number       VARCHAR(18)     ,
	clearance_level      INTEGER NOT NULL    ,
	fatl                 BOOLEAN NOT NULL    ,
	STLVT                BOOLEAN NOT NULL    ,
	VehicleID            VARCHAR(5) NOT NULL    ,
	FOREIGN KEY ( VehicleID ) REFERENCES Vehicle( VehicleID )
 );

''')
print("Table created successfully")

Table created successfully

In [ ]:
conn.execute('''CREATE TABLE STLVT (
	level                INTEGER NOT NULL    ,
	"qualification date" DATE NOT NULL    ,
	"certifying authority" VARCHAR(30) NOT NULL    ,
	DriverID             INTEGER NOT NULL    ,
	FOREIGN KEY ( DriverID ) REFERENCES Driver( DriverID )
 );

''')
print("Table created successfully")

Table created successfully

In [ ]:
conn.execute('''CREATE TABLE fatl (
	level                INTEGER NOT NULL    ,
	"qualification date" DATE NOT NULL    ,
	DriverID             INTEGER NOT NULL    ,
	FOREIGN KEY ( DriverID ) REFERENCES Driver( DriverID )
 );

''')
print("Table created successfully")

Table created successfully

In [ ]:
conn.execute('''CREATE TABLE Booking (
	bookingID            INTEGER NOT NULL  PRIMARY KEY  ,
	pickup_type          VARCHAR(100) NOT NULL    ,
	pick_address         VARCHAR(100) NOT NULL    ,
	dropoff_address      VARCHAR(100) NOT NULL    ,
	dropoff_type         VARCHAR(100) NOT NULL    ,
	start_date_time      DATETIME NOT NULL    ,
	end_date_time        DATETIME NOT NULL    ,
	end_odometer         INTEGER NOT NULL    ,
	Current_Odometer     INTEGER     ,
	official_id          CHAR(8) NOT NULL    ,
	DriverID             INTEGER NOT NULL    ,
	FOREIGN KEY ( Current_Odometer ) REFERENCES Vehicle( Current_Odometer )  ,
	FOREIGN KEY ( official_id ) REFERENCES games_official( official_id )  ,
	FOREIGN KEY ( DriverID ) REFERENCES Driver( DriverID )
 );


''')
print("Table created successfully")

Table created successfully

In [ ]:
conn.commit()

In [ ]:
conn = sqlite3.connect('DataBase.sql')
cursor = conn.execute("Select name From sqlite_master WHERE type = 'table';")
tables= [table[0] for table in cursor.fetchall()]
print("Tables", tables)

Tables ['Countries', 'Languages', 'Vehicle', 'VehicleState', 'games_official', 'Driver', 'STLVT', 'fatl', 'Booking']

In [ ]:
conn.commit()

In [ ]:
conn = sqlite3.connect('DataBase.sql')
conn.execute('''INSERT OR REPLACE INTO Vehicle (VehicleID, RegistrationID, Manufacturer, Model, color, Current_Odometer, PassangerCapacity, Availability)
  VALUES
    ('V1000', '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', '4350', '4', 'True'),
    ('V1001', '2006 AFD', 'Kia', 'K7', 'Black', '2195', '4', 'False'),
    ('V1002', '2021 AHR', 'Tesla', '2020 F', 'White', '509', '4', 'True')
  ''')

In [ ]:
def list():
  conn = sqlite3.connect('DataBase.sql')
  cursor = conn.execute("SELECT Manufacturer from Vehicle")
  print("Here are the table: ")
  for row in cursor:
    print(" VehicleID= ", row[0])
list()

Here are the table:
 VehicleID=  Volvo
 VehicleID=  Kia
 VehicleID=  Tesla

In [ ]:
conn.commit()

In [ ]:
def list():
  conn = sqlite3.connect('DataBase.sql')
  cursor = conn.execute("SELECT name from games_official")
  print("Here are the table: ")
  for row in cursor:
    print(" official_id= ", row[0])
list()

Here are the table:

In [ ]:
conn = sqlite3.connect('DataBase.sql')
conn.execute('''INSERT INTO Countries (country_code, country_name)
  VALUES
    ('ISO3166-2:IR', 'Iran'),
    ('ISO3166-2:FR', 'France')
  ''')

In [ ]:
def list():
  conn = sqlite3.connect('DataBase.sql')
  cursor = conn.execute("SELECT brief_description from VehicleState")
  print("Here are the table: ")
  for row in cursor:
    print(" actionid= ", row[0])
list()

Here are the table:
 actionid=  Red Vehicle
 actionid=  Blue Vehicle

In [ ]:
conn.execute('''INSERT INTO Languages (language, country_code)
VALUES
    ('English', 'US'),
    ('Korean', 'KR'),
    ('Spanish', 'ES')
''')

In [ ]:
conn = sqlite3.connect('DataBase.sql')
conn.execute('''INSERT INTO VehicleState (actionid, ActionType, Odometer, final_cost, brief_description, date, VehicleID)
  VALUES
    ('1', 'R', '2195', '3000', 'Red Vehicle', '2002-11-13', 'V1000'),
    ('2', 'M', '1194', '5000', 'Blue Vehicle', '2001-10-12', 'V1001')
  ''')

In [ ]:
conn.execute('''INSERT INTO games_official (official_id, name, preferred_language, country, "r.model", "r.color", "r.clearance_level")
VALUES
    ('OFCL001', 'Adam Khalil', 'EN', 'USA', 'K7', 'Black', '3'),
    ('OFCL002', 'Gojo Satoru', 'ES', 'Spain', 'XC90 SE', 'Silver', '2'),
    ('OFCL003', 'Erling Haaland', 'JA', 'Japan', 'Model S', 'Red', '4')
''')

In [ ]:
conn.execute('''INSERT INTO Driver (DriverID, name, licence_number, clearance_level, fatl, STLVT, VehicleID)
VALUES
    (1, 'John Smith', 'ABC123456789012345', 3, True, True, 'V1000'),
    (2, 'Maxime Dupont', 'XYZ987654321098765', 2, True, False, 'V1001'),
    (3, 'Boris Johnson', 'LMN456789012345678', 4, False, True, 'V1002')
''')

In [ ]:
conn.execute('''INSERT INTO STLVT (level, "qualification date", "certifying authority", DriverID)
VALUES
    (1, '2023-01-15', 'Local Police Station', 1),
    (2, '2023-02-20', 'Foreign Police Station', 2),
    (3, '2023-03-10', 'Local Police Station', 3)
''')

In [ ]:
conn.execute('''INSERT INTO FATL (level, "qualification date", DriverID)
VALUES
    (1, '2023-04-05', 1),
    (2, '2023-05-10', 2),
    (3, '2023-06-15', 3)
''')

In [ ]:
conn.execute('''INSERT INTO Booking (bookingID, pickup_type, pick_address, dropoff_address, dropoff_type, start_date_time, end_date_time, end_odometer, Current_Odometer, official_id, DriverID)
VALUES
    (1, 'Hotel', 'Hotel A', 'Airport', 'Airport', '2023-07-15 10:00', '2023-07-15 12:00', 4500, 4350, 'OFCL001', 1),
    (2, 'Aquatic Center', 'Aquatic Center', 'Hotel B', 'Hotel', '2023-07-20 14:00', '2023-07-20 16:00', 2200, 2195, 'OFCL002', 2),
    (3, 'Hotel', 'Hotel C', 'Hotel D', 'Hotel', '2023-07-25 09:00', '2023-07-25 11:00', 600, 509, 'OFCL003', 3)
''')

In [ ]:
conn.execute('''CREATE TRIGGER LanguageMatchingCheck
BEFORE INSERT ON Booking
FOR EACH ROW
BEGIN
    -- Get the preferred language of the driver
    SELECT preferred_language INTO driver_language
    FROM Driver
    WHERE DriverID = NEW.DriverID;

    -- Get the preferred language of the game official
    SELECT preferred_language INTO official_language
    FROM games_official
    WHERE official_id = NEW.official_id;

    -- Check if the languages match
    IF driver_language <> official_language THEN
        -- Raise an error if the languages do not match
        SELECT RAISE(ABORT, 'Driver language does not match the official language.');
    END IF;
END;
''')

OperationalError: ignored